
/* تنسيقات عامة */
body{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    direction: rtl; /* اتجاه النص من اليمين لليسار */

    text-align: right;
}
.container {
    max-width: 1100px;
    margin: auto;

    overflow: hidden;
    padding: 0 2rem;
   
}
.navbar {
    background: rgb(173, 121, 121);
    color: #fff;
    padding: 1rem 0;

}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.navbar .logo {
    font-size: 1.5rem;
    
    color: #fff;
    text-decoration: none;
    font-weight: bold;  
}
.navbar ul {
    list-style: none;
    display: flex;
}
.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
    transition: color 0.3s;
}
.navbar ul li a:hover {
    color: #f4f4f4;
}
.header {
    background: #007bff;
    color: #fff;
    padding: 4rem 0;
    text-align: center;

}
.header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;

}
.contact form {
    display: flex;
}
